<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mynew.muslimapp">

    <application
        android:name="com.mynew.muslimapp.NotifsChannels"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppThemee"
        android:usesCleartextTraffic="true">
        <activity android:name="com.mynew.muslimapp.HajjOmraDikrActivity"></activity>
        <activity android:name="com.mynew.muslimapp.NatureDikrActivity" />
        <activity android:name="com.mynew.muslimapp.SickDikrActivity" />
        <activity android:name="com.mynew.muslimapp.TravelDikrActivity" />
        <activity android:name="com.mynew.muslimapp.FoodDikrActivity" />
        <activity android:name="com.mynew.muslimapp.HomeDikrActivity" />
        <activity android:name="com.mynew.muslimapp.WuduuDikrActivity" />
        <activity android:name="com.mynew.muslimapp.MosqueDikrActivity" />
        <activity android:name="com.mynew.muslimapp.AdhanDikrActivity" />
        <activity android:name="com.mynew.muslimapp.SalatDikrActivity" />
        <activity android:name="com.mynew.muslimapp.NamesOfAllah" />
        <activity android:name="com.mynew.muslimapp.RestOfDikr" />
        <activity android:name="com.mynew.muslimapp.SalatSettings" />
        <activity android:name="com.mynew.muslimapp.GoldPrice" />
        <activity android:name="com.mynew.muslimapp.ReportProblem" />
        <activity android:name="com.mynew.muslimapp.PrivacyPolicy" />
        <activity android:name="com.mynew.muslimapp.Widgets" />
        <activity android:name="com.mynew.muslimapp.Wallpapers" />
        <activity
            android:name="com.mynew.muslimapp.Misbaha"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.mynew.muslimapp.ZakatCalculator"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.mynew.muslimapp.QiblaFinder"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.mynew.muslimapp.FadlAdkar" />
        <activity android:name="com.mynew.muslimapp.AdkarMassaa" />
        <activity android:name="com.mynew.muslimapp.AdkarSabah" />
        <activity android:name="com.mynew.muslimapp.MainActivity" />
        <activity
            android:name="com.mynew.muslimapp.Splash"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <receiver
            android:name="com.mynew.muslimapp.AlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />
                <action android:name="xandroid.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.mynew.muslimapp.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@layout/widget_info" />
        </receiver>

        <service
            android:name="com.mynew.muslimapp.WidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_GPS" />

</manifest>